@import "config/colors";
@import "config/fonts";
@import "config/sizes";
@import "config/animations";

@import "mixins/rwd";

@import "vendor/bourbon/bourbon";
@import "vendor/normalize";

html {
	height: 100%;
}

body {
	background-color: #fff;
	position: relative;
	height: 100%;
	width: 100%;
}

* {

    @include box-sizing(border-box);
}

.correct {
	$color: rgba(green, 0.1);

	background-color: $color;
}

.question {
	width: (1/4 * 100%);
	float: left;
	padding: 20px 1% 20px 1%;
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;

	&:nth-child(4) {
		border-right: 0;
	}
}

.question input {
	width: 100%;
	display: block;
	outline: none;
	border-radius: 5px;
	padding: 4px 4px;
	border: 1px solid #ccc;

	&:focus {
		border: 1px solid rgba(#2C67A2, 0.4);
		box-shadow: 0 0 5px rgba(#2C67A2, 0.75);
	}
}

.stats-bar {
	padding: 10px 10px;
	background-color: #2C67A2;
	color: #fff;
	@include clearfix();
	position: fixed;
	width: 100%;

	h1 {
		float: left;
		font-size: 22px;
		line-height: 27px;
		margin: 0;
		padding: 0;
		font-weight: normal;
	}
}

.questions {
	padding-top: 47px;
}

.equation {
	margin-bottom: 5px;
	display: block;
	.value {

	}
}

.button {
  background-color: lighten(green, 10%);
  border: 1px solid darken(green, 10%);
  box-shadow: 0 1px 0 lighten(green, 5%);
  padding: 5px 10px;
  font-size: 13px;
  border-radius: 3px;
  display: block;
  float: right;
  margin-right: 10px;
  position: relative;
  
  .popover {
    position: absolute;
    right: 0;
    top: 48px;
    width: 300px;
    height: 200px;
    padding: 10px;
    background-color: lighten(#2C67A2, 50%);
    border: 1px solid #2C67A2;
    color: #2C67A2;
    border-radius: 3px;
    box-shadow: 0 3px 3px rgba(#000, .1);
    display: block;
    
    label {
      display: block;
      margin-bottom: 5px;
    } 
    
    button {
      display: block;
      width: 100%;
      padding: 10px 0;
    }
    
    &:after {
      position: absolute;
      top: -8px;
      right: 24px;
      @include triangle(16px, #2C67A2, up);
      display: block;
      content: '';
    } 
    
    .popover-wrapper {
      
    } 
  }
}

.stat {
	background-color: lighten(#2C67A2, 10%);
	border: 1px solid darken(#2C67A2, 10%);
	box-shadow: 0 1px 0 lighten(#2C67A2, 20%);
	padding: 5px 10px;
	font-size: 13px;
	border-radius: 3px;
	display: block;
	float: right;
	margin-right: 10px;
}