<!DOCTYPE html>
<html ng-app="math">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>Math</title>

		<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />

		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/underscore/underscore.js"></script>

		<script src="app/main.js"></script>
	</head>
	<body ng-controller="MathController as mathCtrl">
		<section class="stats-bar">
			<h1>Math Trials</h1>
			<span class="stat">Number of Questions: {{questions.length}}</span>
			<span class="stat">Number of Correct Answers: {{correct}}</span>
		</section>
		<div class="questions">
			<div class="question" ng-repeat="question in questions" ng-class="{correct:question.correct}">
				<span class="equation"><span class="value">{{question.equation.val1}}</span> <span class="operator">{{question.equation.operator}}</span> <span class="value">{{question.equation.val2}}</span> <span class="equal">=</span></span>
				<input type="text" ng-model="question.user_answer" />
			</div>
		</div>
	</body>
</html>